.sidebar-container {
	padding: 0 !important;
	width: 20rem !important;
	border-radius: 0 !important;
}
#sidebar {
	padding: 0;
	border-radius: 0 !important;
}
.sidebar-section-title {
	margin-top: 0rem !important;
}
.sidebar-items-container>* {
	border-radius: 0px !important;
}
.sidebar-title:first-child {
	margin: 1.5rem 0 !important;
}
td:first-child, th:first-child {
	border-radius: 0 !important;
}
td:last-child, th:last-child,.props {
	border-radius: 0 !important;
}
table thead th:first-child {
	border-top-left-radius: 6px !important;
}
table thead th:last-child {
	border-top-right-radius: 6px !important;
}
table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 6px !important;
}
table tbody tr:last-child td:last-child {
	border-bottom-right-radius: 6px !important;
}
.details {
	border-radius: 6px !important;
}
.params, .props, table {
	border-spacing: 0 3px !important;
}
.pre-div {
	border-radius: 6px !important;
}

.method-member-container.mt-20 .param-desc {
	display: inline;
}
.method-member-container.mt-20 .param-desc p {
	display: inline;
	margin-left: 10px;
}

.method-member-container.mt-20 > .param-type {
	display: none;
}
.propertyGroup {
	padding-bottom: 35px;
	margin-bottom: 35px;
}

.propertyGroup:not(:last-child):not(:has(+ h2)) {
	border-bottom: 3px solid #88888810;
}
